<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" >
	<listeners>
<!-- 		<listener class-name="partner.helper.linstener.RetryListener"></listener> -->
		<listener class-name="partner.helper.linstener.ExtentListener"></listener>
	</listeners>
	<test  name="Test A">
		<classes>
			<class name="testScripts.TestA"/>
		</classes>
	</test> 
	<test  name="Test B">
		<classes>
			<class name="testScripts.TestB"/>
		</classes>
	</test>
	<test  name="Test Screenshot">
		<classes>
			<class name="testScripts.TestBaseTester"/>
		</classes>
	</test>
</suite> <!-- Suite --> 
